<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axion.overlay.googledialeroverlayphone">
    <overlay android:isStatic="true"
        android:priority="1000"
        android:targetPackage="com.android.phone"/>
    <application android:hasCode="false"/>
</manifest>
